@import '../../style/variables.scss';

.single {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    
    &-back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: $main-color;
        }
    }
}

